/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.product-box h1{
	font-size: 30px !important;
}
.salebanner {
	    text-align: center;
}

@-moz-document url-prefix() {
  .gform_wrapper li.hidden_label input{
	  margin-top: 0px !important;
	}
	.gform_wrapper li.hidden_label input {
		margin-top: 0px !important;
	}
}

.topBar .storename {
	margin-bottom: 0px!important;
    margin-top: 4px!important;
}
.topBar  {
	display: flex;
}
.footer-location .topBar {
	    justify-content: flex-end;
    align-items: center;
}
.footer-location .topBar .storename .phone{
	 text-align: left;
}
.footer-location .topBar > div {
    margin-left: 10px;
}

ul#menu-top-menu > li a {
    padding: 12px 5px;
}
li#field_18_2,
li#field_18_7{
	padding-right: 0px !important;
}
.ginput_container_date input{
	margin-right: 0px !important;
	width: 100% !important;
}
.ginput_container_date input,
input.datepicker_with_icon.medium{
	width: 100% !important;
}
.ginput_container_date{
	position: relative;
}
.ginput_container_date img{
	position: absolute;
	top: 34px;
    right: 12px;
	z-index: 1;
}
.direction a{
	font-size: 16px !important;
    line-height: 16px !important;
    letter-spacing: 5px !important;
    text-transform: uppercase !important;
    border: 1px solid #3f4054 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 300px;
    padding-top: 20px !important;
    padding-right: 40px !important;
    padding-bottom: 20px !important;
    padding-left: 40px !important;
    background: #4b4c60 !important;
}
.gform_wrapper .gfield_time_hour input, .gform_wrapper .gfield_time_minute input {
    width: calc(4rem + 8px) !important;
}
.gform_wrapper .gfield_time_hour {
    max-width: calc(5rem + .5rem) !important;
}
.gform_wrapper .gfield_time_hour, .gform_wrapper .gfield_time_minute {
    max-width: 5rem !important;
}
.uabb-gf-style .gform_wrapper form .gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
	padding-left: 10px !important;
    padding-right: 10px !important; 
}
.gform_wrapper .gfield_time_ampm select {
    min-width: calc(7rem + 25px) !important;
}
.gform_wrapper .gfield_time_hour i{
	    margin-top: -2px !important; 
}
.direction a:hover{
	    border: 1px solid #ee2d4d !important;
	    background: #fa3959 !important;
}
.store-container .address p{
	margin: 0;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #fa3959;
    padding: 20px;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
	    margin-top: 0px !important;
}
.searchIcon .ua-icon-icon-111-search2{
    cursor: pointer;
}
.phone span:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px !important;
    font-size: 16px;
    vertical-align: middle;
}
span.uabb-menu-toggle {
    display: inline-block !important;
/*     color: #000; */
}
span.uabb-menu-toggle:before {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    z-index: 1;
    font-size: inherit;
    line-height: 0;
    font-weight: 900;
}
div.fl-module-uabb-advanced-menu  .uabb-creative-menu .menu > li.current-menu-ancestor > .uabb-has-submenu-container > a span.menu-item-text .uabb-menu-toggle:before{
	color: #fa3959 !important;
}
@media(min-width:992px) and (max-width:1024px){
	div.fl-module-uabb-advanced-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a{
		padding-left: 5px;
		padding-right: 5px;
	}
	ul#menu-copyright-bar-menu li a{
		padding: 14px 5px !important;
	}
	ul#menu-top-menu.fl-page-bar-nav>li>a{
		padding: 2px 5px !important;
	}
	.fl-page-bar-row.row .fl-page-bar-text-1 a{
		    font-size: 10px !important;
	}
div.fl-module-uabb-advanced-menu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
    padding-left: 4px !important;
    padding-right: 4px !important;
}
	ul#menu-main-menu > li{
		margin: 0px !important;
	}
}
@media(max-width:992px){
	.fl-page-bar-row .col-md-6.text-right 	{
		display: none;
	}
	.fl-page-bar-row .col-md-6.text-left{
		width: 100% !important;
		text-align: center;
	} 
	header .uabb-photo-content .uabb-photo-img {
		width: 60% !important;
	}
	#responsive-menu-container #responsive-menu-search-box, #responsive-menu-container #responsive-menu-additional-content, #responsive-menu-container #responsive-menu-title {
		padding: 10px 5% !important;
	}
}
@media (max-width: 768px){
.footer-location .topBar{
justify-content: center;
}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		padding: 0px !important;
	}
	.fl-page-bar-row.row .col-sm-8{
		display: none !important;
	}
	.fl-page-bar-row.row .col-sm-4{
		width: 100%;
		text-align: center;
	}
	.fl-slide-0 .fl-slide-bg-photo,
	.fl-slide-0 .fl-slide-foreground {
		position: absolute !important;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
	.fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap {
		display: flex !important;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	.max-width-issue{
		max-width: 400px !important;
		margin: 0 auto !important;
	}
	.max-h-img img{
		max-height: 200px;
	}
}
input.hasDatepicker{
	width: 95% !important;
}
@media (max-width: 500px){
.footer-location .topBar {
	flex-direction: column;
}
.footer-location .topBar > div {
    margin-top: 20px;
}
.footer-location .topBar{
    width: 60%;
    margin: 0 auto;
    align-items: flex-start;
}
	header .uabb-photo-content .uabb-photo-img {
		width: 80% !important;
	}	
	button#responsive-menu-button{
		width: 40px !important;
   		height: 40px !important;
		top: 60px !important;
	}
	.fl-page-bar{
		    font-size: 9px !important;
	}
	.fl-page-bar-text{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footer-location .fl-rich-text p a{
		display: block;
	}

}
@media (max-width: 330px){
	button#responsive-menu-button{
		top: 54px !important;
	}
}

.d-flex .gfield_checkbox li {
    display: flex;
}
.d-flex .gfield_checkbox li input {
    margin-right: 5px;
}